<!-- extend base layout -->
{% extends "base.html" %}

{% block events %}
<div class="col-md-9">

    <div class="col-md-6">
    <p class="lead">{{category.name}} Events</p>
    </div>
    <div class="col-md-6">
    <a class= "lead pull-right"href='{{url_for('addEvent', category_id = category.id) }}'>Add new event</a>
    <br>
    </div>
    {% for ev in events %}
    <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/400x200" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{ev.price}}</h4>
                    <h4><a href="#">{{ev.name}}</a>
                    </h4>
                    <p>{{ev.description}}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">Date: </p>
                    <a href='{{url_for('editEvent', category_id = ev.category_id, event_id = ev.id) }}'>Edit</a>
                    <br>
                    <a href='{{url_for('deleteEvent', category_id = ev.category_id, event_id = ev.id) }}'>Delete</a>
                        <!--p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p-->
                </div>
            </div>
        </div>
    {% endfor %}
</div>
 
{% endblock %}
